<IfModule mod_rewrite.c>
	Options -MultiViews
	IndexIgnore *

	RewriteEngine On

	#Manager index.html
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^manager/$ system/manager/index.html [L,QSA]

	#Manager files
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !manager/api(.+)$
	RewriteRule ^manager(.+)$ system/manager$1 [L,QSA]

	#App assets
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^assets(.+)$ app/assets$1 [L,QSA]

	#App public
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)\.(html|css|js|jpg|png|gif|ttf|eot|svg|woff|pdf) public/$1.$2 [QSA]

	#App public index.html
	RewriteRule ^$ public/index.html [QSA]

	#Routes
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.+)$ index.php/$1 [L,QSA]

	#IE htc files
	AddType text/x-component .htc
</IfModule>