/**
 * Logo
 */
.logo
	ir()
	sprite('sample-sprite', 'joy')
	absolute left 50px top 50px

/**
 * Modal
 */
.modal
	absolute left top right bottom
	z-index 10

.modal-overlay
	fixed left top right bottom
	opacity .7
	background #000

.modal-content
	width 800px
	left 50%
	margin-left -400px
	top 10%
	position absolute
	overflow hidden

	padding 20px
	border-radius 3px
	background-color #fff
	box-shadow 0 2px 15px rgba(0,0,0,.3)


.modal-close
	absolute right 20px top 20px

